/*Общие стили*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 0;
    color: #333;
}

/*Шапка*/
header {
    background: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

/*Эффект кнопки*/

nav ul li a:hover {
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 5px;
}

nav ul li a:active {
    background-color: #ff6b6b;
    color: #fff;
    border-radius: 5px;
}


/*Основной контент*/
.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.about {
    padding: 50px 20px;
    text-align: center;
}

/*Футтер*/
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}